<div class="card bg-dark text-light">
    <div class="card-header">
        About {{pageTitle}}
    </div>
    <div class="card-body text-light bg-secondary">
        <div class="row justify-content-center my-4">
            <div class="w-auto">
                <img src="./assets/images/logo.png" class="img-fluid"
                    style="max-height:150px;padding-bottom:20px" />
            </div>
        </div>
        <div class="row justify-content-left">
            <p>
                This application is used for storing information about the personal movies library.
            </p>
            <p>
                The user can add new movies and keep record about the watched ones.
            </p>
        </div>
    </div>
</div>